{% extends "layout.html" %}
{% set title = _('Documentación de Managity.') %}
{% block body %} 
  <h1>ADempiere<sup>&reg;</sup> {{ release|e }} Documentación</h1>
<p>
    {% block description %}{{ _('Esta documentación está dirigida a los clientes de <a href="http://managity.com/">Managity.</a>con la finalidad de guiar al usuario en la ejecución de sus actividades diarias sobre ADempiere ERP.') }}<br />
    <br />
    {{ _('La misma será actualizada periódicamente en función de las nuevas versiones de ADempiere.') }}<br />
    <br />
    {{ _('Le invitamos a descubrir cómo hacer su día a día más sencillo con el uso de esta herramienta') }}{% endblock %}.
</p>

{% block tables %}

<h2>Para Mayor Información</h2>
<table class="contentstable">
    <tr>
        <td width="50%">
            <p class="biglink">Nuestra página oficial es: <a href="http://managity.com/">Managity.</a></p>
            <p class="biglink">Si desea reportar un error o una mejora puede hacerlo en: <a href="https://github.com/managity/docs">GitHub</a></p>
        </td>
    </tr>
</table>

{% endblock %}